/* Nav */

.navbar-expand {
    margin-bottom: 1rem;
    background: blue;
  }
  
  .navbar a {
    font-weight: bold;
    color: white;
  }
  
  .navbar a:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }
  
  ul.nav.navbar-nav li {
    margin: 0 0.5rem;
  }

  #post {
    display: flex;
    align-items: justify-centent;
    margin-left: 300px;
    width: 800px;
  }

  #uploadForm button{
    display: flex;
    align-content: space-between
  }